<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007346423739-02mca1s0migojeladn87itb2gffe3m0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007346423739-02mca1s0migojeladn87itb2gffe3m0d</string>
	<key>API_KEY</key>
	<string>AIzaSyArXp7wRSwYbtojdeo-src4Y4TgjvNr3aI</string>
	<key>GCM_SENDER_ID</key>
	<string>1007346423739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.soultribe.com</string>
	<key>PROJECT_ID</key>
	<string>soultribe-4a6b1</string>
	<key>STORAGE_BUCKET</key>
	<string>soultribe-4a6b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007346423739:ios:681fec14d716078f84569e</string>
</dict>
</plist>